# Overrides for server names if defaults aren't suitable
mke_server_name          = "mke2"
longhorn_server_name     = "longhorn2"
msr_server_name          = "msr2"
microservice_server_name = "microservice2"
