# Overrides for server names if defaults aren't suitable
mke_server_name          = "mke4"
longhorn_server_name     = "mke4-longhorn"
msr_server_name          = "mke4-msr3"
microservice_server_name = "mke4-microservice"
